extends layout 

block content 
        h1 About
        p My name is Andre Unsal.
        p I am a Software Engineer & Founder.
        p This is just me brushing up on knowledge and digging deeper into topics.
        p My github is below: 
        ul
                li
                        a(href="https://github.com/andrejandre" target="new") Andre's Github
                li        
                        a(href="/" style="margin-top: 32px;") Home