extends layout 

block content 

    p For privacy, I will not divulge my contact details. Lol.
    p But, access my github below: 
    ul
        li
            a(href="https://github.com/andrejandre") Github 
        li
            a(href="/" style="margin-top: 32px;") Home 